html {
    
}
 .logo {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    top: 7px;
    left: 10px;
    text-align: center;

}
body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    margin: 0;
    background-image: url(floral-4802640_1920.png);
    
}
h1 {
    text-align: center;
    font-size: 18px;
    background-color: white;
    color: rgb(96, 133, 98);
    padding: 20px;
    font-family: 'Lexend Zetta', sans-serif;
    margin: 0;

}
ul  {
    background-color: white;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    border: 2px solid rgb(96, 133, 98);
}

li, a {
    color: rgb(96, 133, 98);
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
    display: inline;
    font-family: 'Lexend Zetta', sans-serif;
}
li {
    text-align: center;
    display: inline;
}
.flex-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;  
}
.flex-container img {
    height: 500px;
    width: 400px;
    border: 1px solid white;
}
.flex-container .hometext {
    position: absolute;
    align-content: center;
    top: 50px;
}

.hometext span {
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 20px;
    color: rgb(96, 133, 98);
    padding: 20px;
    background: rgba(255, 255, 255, 0.849);
    padding-left: 50px;
    padding-right: 50px;
}
p {
    color: rgb(96, 133, 98);
    font-size: 22px;
    background-color: white;
    text-align: center; 
    padding: 20px;
    font-family: 'Indie Flower', cursive;
    line-height: 2;
    letter-spacing: 1px;
}

.aboutcntr {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;  
}
.aboutcntr img {
    height: 500px;
    width: 400px;
    border: 1px solid white;
}
.aboutcntr .left {
    position: absolute;
    align-content: center;
    top: 50px;
}

.left span {
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 20px;
    color: rgb(96, 133, 98);
    padding: 20px;
    background: rgba(255, 255, 255, 0.849);
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}
.contactcntr {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;  
}
.contactcntr img {
    height: 500px;
    width: 400px;
    border: 1px solid white;
}
.contactcntr .contacttxt {
    position: absolute;
    align-content: center;
    top: 50px;
}

.contacttxt span {
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 20px;
    color: rgb(96, 133, 98);
    padding: 20px;
    background: rgba(255, 255, 255, 0.849);
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}
.news-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;  
}
.news-container img {
    height: 500px;
    width: 400px;
    border: 1px solid white;
}
.news-container .newsleft {
    position: absolute;
    align-content: center;
    top: 50px;
}

.newsleft span {
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 20px;
    color: rgb(96, 133, 98);
    padding: 20px;
    background: rgba(255, 255, 255, 0.849);
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

form {
    color: rgb(96, 133, 98);
    background-color: white;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
}

input {
    background-color: rgb(96, 133, 98);
    border-style: none;
    padding: 10px;
    outline: none;
    color: white;
    font-size: 18px;
    font-family: 'Indie Flower', cursive;
}

footer {
    background-color: rgb(96, 133, 98);

}

.foot {
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 8px;
    font-family: 'Lexend Zetta', sans-serif;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    h1 {font-size: 16px;}
    p {font-size: 18px;}
    a {font-size: 10px;}
    img {max-width: 100%; height: auto;}
    .foot {font-size: 10px;}
    .hometext span {
        font-size: 12px;
        padding: 10px;
}
    .news-container span { font-size: 10px;}
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
    .flex-container img, .aboutcntr img, .contactcntr img, .news-container img {
        height: 225px;
        width: 225px;
    }
    .hometext span, .news-container span {
        font-size: 18px;
        padding: 10px;
    }
    .aboutcntr span, .contactcntr span, .news-container span {
        font-size: 16px;
    }
    p {
        font-size: 18px;
    }
}