html {
    border: 2px solid rgb(96, 133, 98);
  
}

#home {
    position: fixed;
    height: 80px;
    width: 100%;
    font-family: 'Lexend Zetta', sans-serif;
}

body {
    background-image: url(floral-4802640_1920.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    background-color: rgb(96, 133, 98);
    padding: 35px;  
    font-family: 'Lexend Zetta', sans-serif;
}

ul  {
    background-color: white;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    width: 98%;
}

li, a {
    color: rgb(96, 133, 98);
    text-decoration: none;
    font-size: 24px;
    padding: 8px;
    display: inline;
    font-family: 'Lexend Zetta', sans-serif;
}


img {
    border-radius: 20%;
    margin: 0;
    padding: 0;
}

li {
    text-align: center;
    display: inline;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;  
}

.flex-container img {
    border-radius: 20%;
    border: solid 2px rgb(96, 133, 98);
    height: 500px;
    width: 400px;
}

p {
    color: rgb(96, 133, 98);
    font-size: 22px;
    background-color: white;
    text-align: center; 
    padding: 20px;
    font-family: 'Indie Flower', cursive;
    line-height: 2;
}

h2 {
    font-size: 30px;
    background-color: rgb(96, 133, 98);
    color: white;
    text-align: center;
    font-family: 'Lexend Zetta', sans-serif;
}

#About .column, .column2  {
    width: 250px;
    height: 250px;
    display: inline-flexbox;
    margin-left: 10%;
    justify-content: center;
    border: solid 2px rgb(96, 133, 98);
}

h3 {
    font-size: 20px;
    text-align: center;
    color: rgb(96, 133, 98);
    background-color: white;
    padding: 10px;
    font-family: 'Indie Flower', cursive;
}

form {
    color: rgb(96, 133, 98);
    background-color: white;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
}

input {
    background-color: rgb(96, 133, 98);
    border-style: none;
    padding: 10px;
    outline: none;
    color: white;
    font-size: 18px;
    font-family: 'Indie Flower', cursive;
}

footer {
    background-color: rgb(96, 133, 98);

}

.foot {
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 8px;
    font-family: 'Lexend Zetta', sans-serif;
}



@media screen and (min-width 300px) and (max-width: 800px) {
    p, h3 {
        font-size: 10px;
    }
    ul, h1 {
        font-size: 12px;
    }
    img {
        size: 20%;
    }


}